.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container h3 {
  font-family: "PT Serif";
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--clr-primary-dark);
}
.input-feild {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.input-feild:last-of-type {
  margin-bottom: 1.5rem;
}
.input-feild label {
  font-size: 1rem;
  color: #222;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.input-feild label:hover {
  color: var(--clr-primary-light);
}
.input-feild input {
  padding: 0.25rem 2rem;
  outline: none;
  border: 1px solid var(--clr-primary-light);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
button {
  padding: 0.5rem 1rem;
  margin-bottom: 2.5rem;
  border: none;
  background-color: var(--clr-orange);
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
button:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
button:active {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
