@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary-dark: #1363b9;
  --clr-primary-medium: #3182dd;
  --clr-primary-light: #479de5;
  --clr-orange: #fd6500;

  --transition: all 400ms ease-in-out;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
